<div class="swiper-slide p-[10px] pb-[58px]" style="background-color: {{ bg_color }};">
    <img src="{{ image }}" alt="{{ image.alt }}">

    <h4 class="font-gt-super-light text-[32px] leading-[32px] text-center font-medium mt-[30px]" style="color: {{ font_color }};">
        {{ title }}
    </h4>

    <p class="card-content font-gt-super-book text-[14px] leading-[18px] text-center font-medium mt-[10px] mb-[16px] max-w-[272px] mx-auto" style="color: {{ font_color }};">
        {{ text }}
    </p>

    <a href="{{ btn_link }}" class="font-platform-medium tracking-[0.25em] flex justify-center text-[12px] leading-[12px] text-center font-medium uppercase border-b-[1px] pb-[4px] w-max mx-auto" style="color: {{ font_color }}; border-color: {{ font_color }};">
        {{ btn_text }}
    </a>
</div>